<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Cleverit - CMendoza</title>
<link rel="stylesheet" type="text/css" href="/css.css">

</head>
<body>
<div>
	<span class="path">
		<a class= "path" href="/">Inicio</a> &gt; Ejercicio # 2
	</span>
</div>
<h1>Bienvenido al Spring Boot Test de Cleverit</h1>
<h2>Carlos Mendoza Perrone - Postulante (+56 9 6610 4221)</h2>

<div>
	<div>
	   	<h1>Proceso de importaci&oacute;n de liciencias ha finalizado.</h1>
	</div>
</div>
</body>
</html>