<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Cleverit - CMendoza</title>
<link rel="stylesheet" type="text/css" th:href="@{/css.css}">
</head>
<body>
<span class="path">Inicio</span>
<h1>Bienvenido al Spring Boot Test de Cleverit</h1>
<h2>Carlos Mendoza Perrone - Postulante (+56 9 6610 4221)</h2>

<h3>Seleccione una opci&oacute;n del men&uacute; siguiente</h3>

	<div>
		<a class="btn btn-menu" href="/test1">Ejercicio # 1</a>
		<a class="btn btn-menu" href="/test2">Ejercicio # 2</a>
		<a class="btn btn-menu" href="/test3">Ejercicio # 3</a>
	</div>
</body>
</html>